<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Thống kê</a>
        </li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách người dùng</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Công việc</th>
                  <th>Địa chỉ</th>
                  <th>Tuổi</th>
                  <th>Ngày tham gia</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Công việc</th>
                  <th>Địa chỉ</th>
                  <th>Tuổi</th>
                  <th>Ngày tham gia</th>
                  
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <th>330</th>
                  <td>Nguyễn Văn Lân</td>
                  <td>Lập Trình Viên</td>
                  <td>368 Lê Hồng Phong, Quận 10, TP.HCM</td>
                  <td>21</td>
                  <td>2018/04/25</td>
                </tr>
                <tr>
                  <th>642</th>
                  <td>Trần Mai Anh</td>
                  <td>Giáo Viên</td>
                  <td>22 Hùng Vương, Quận 10, TP.HCM</td>
                  <td>25</td>
                  <td>2019/03/25</td>
                </tr>
                <tr>
                  <th>245</th>
                  <td>Trần Sỹ Hùng</td>
                  <td>Ca Sĩ</td>
                  <td>87 Đào Duy Từ, Quận 2, Quảng Bình</td>
                  <td>20</td>
                  <td>2017/01/12</td>
                </tr>
                <tr>
                  <th>684</th>
                  <td>Nguyễn Gia Bảo</td>
                  <td>Học Sinh</td>
                  <td>78 Cổ Nhuế, Quận Ba Đình, Hà Nội</td>
                  <td>17</td>
                  <td>2019/03/29</td>
                </tr>
                <tr>
                  <th>327</th>
                  <td>Mai Thành Lân</td>
                  <td>Bác sĩ</td>
                  <td>228 Cách Mạng Tháng Tám, Quận 10, TP.HCM</td>
                  <td>33</td>
                  <td>2018/11/28</td>
                </tr>
                <tr>
                  <th>975</th>
                  <td>Đặng Quang Huy</td>
                  <td>Thợ Chụp Ảnh</td>
                  <td>32 Âu Cơ, Bảo Lộc, Lâm Đồng</td>
                  <td>31</td>
                  <td>2018/12/02</td>
                </tr>
                <tr>
                  <th>365</th>
                  <td>Trần Liêm Khiết</td>
                  <td>Marketing</td>
                  <td>45 Nguyễn Văn Cừ, Quận 5, TP.HCM</td>
                  <td>27</td>
                  <td>2018/08/06</td>
                </tr>
                <tr>
                  <th>346</th>
                  <td>Lê Văn Đạt</td>
                  <td>Cầu Thủ</td>
                  <td>67 Cao Bá Quát, Thành Phố Vinh, Nghệ An</td>
                  <td>24</td>
                  <td>2018/10/14</td>
                </tr>
                <tr>
                  <th>123</th>
                  <td>Lê Lan Anh</td>
                  <td>Người Mẫu</td>
                  <td>450 Điện Biên Phủ, Quận 5, TP.HCM</td>
                  <td>27</td>
                  <td>2017/09/15</td>
                </tr>
                <tr>
                  <th>358</th>
                  <td>Trần Thúy Hằng</td>
                  <td>Đầu Bếp</td>
                  <td>589 An Dương Vương, Quận 10, TP.HCM</td>
                  <td>23</td>
                  <td>2018/12/13</td>                  
                </tr>               
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Cập nhật lần cuối lúc 23:59.</div>
      </div>

      <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Thay đổi thông tin người dùng</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" value="Trần Sỹ Hùng">
                      <label for="firstName">Tên người dùng</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required" value="Ca Sĩ">
                      <label for="lastName">Công việc</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" value="87 Đào Duy Từ, Quận 2, Quảng Bình">
                  <label for="inputEmail">Địa chỉ</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="inputPassword" class="form-control" placeholder="Password" required="required" value="20">
                      <label for="inputPassword">Tuổi</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" value="2017/01/12">
                      <label for="confirmPassword">Ngày tham gia</label>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="login.html">Lưu</a>
          </div>
        </div>

        <div class="container">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header">Xóa người dùng</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-label-group">
                          <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                          <label for="firstName">ID người dùng</label>
                        </div>
                      </div>  
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" href="login.html">Xóa</a>
              </div>
            </div>

    </div>