<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body id="page-top">
    <% include partials/header %>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Thông tin người dùng</div>
          <div class="card-body">
            <form>
              <div class="form-group">                
                <div class="form-label-group">
                    <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" value="Trần Sỹ Hùng">
                    <label for="firstName">Tên người dùng</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required" value="Ca Sĩ">
                    <label for="lastName">Công việc</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" value="87 Đào Duy Từ, Quận 2, Quảng Bình">
                  <label for="inputEmail">Địa chỉ</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" value="2017/01/12">
                    <label for="confirmPassword">Ngày tham gia</label>
                </div>   
              </div>
              <div class="form-group">
                    <div class="form-label-group">
                      <input type="text" id="inputPassword" class="form-control" placeholder="Password" required="required" value="20">
                      <label for="inputPassword">Tuổi</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="inputEmail" class="form-control" placeholder="Password" required="required" value="transyhung@gmail.com">
                        <label for="inputPassword">Tài khoản</label>
                    </div>
                </div>
                <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputPassword" class="form-control" placeholder="Password" required="required" value="123456789">
                            <label for="inputPassword">Mật khẩu</label>
                        </div>
                </div>
              <a class="btn btn-primary btn-block" href="#">Sửa</a>
              </form>
              </div>
              </div>
          </div>
        </div>
    <% include partials/script %>
</body>
</html>
