<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong>Thêm thể loại mới</strong>
        </div>
        <div class="card-body card-block">
            <form action="/category/add" method="post"  class="">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Nhập thể loại </div>
                        <input type="text" id="name" name="name" placeholder="Thể loại"
                            class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                    Thêm
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                    Nhập lại
                    </button>
                </div>
            </form>
        </div>
        
    </div>
</div>